h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 5px;
	line-height: 1.2;
}

header {
    background: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

h1 {
	font-size: 3.5rem;
	font-family: "NocturnalSubway";
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: center;
	border: none;
}

h3 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: left;
}

h4 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: center;
}

h5 {
	font-size: 1.3rem;
	color: var(--accent);
}

h6 {
	font-size: 1.3rem;
	color: var(--accent);
	padding-left: 12px;
}

dd::before {
	content: "â©";
	color: #141a38;
}

.scrollContainer {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.scroll {
	flex-grow: 1;
	position: relative;
	overflow-y: scroll;
	scrollbar-color: #919ed7 #e5e8f5;
}

.scroll>div {
	position: absolute;
	width: 100%;
	padding-right: 0px;
}

.squibby {
	text-align: center;
	max-width: 270px;
	margin: auto;
}

.emote img{
	width: 50px;
	height: auto;
	image-rendering: pixelated;
}

.powerlines {
	width: 100%;
}

@media only screen and (max-width: 773px) {
	h1 {
		font-size: 1rem;
	}

	h2 {
		font-size: 0.75rem;
	}
}