/* General styles */
html {
    height: 100%;
}

body,
footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

iframe {
    border: none;
}

h1 {
    font-size: 2rem !important;
}

.stampCollection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.stampCollection img {
    border: 2px ridge var(--border);
    border-radius: 5px;
    margin: auto;
}

.header-button {
    background: linear-gradient(to right, var(--bg), var(--gradientBottom));
    border-radius: 3px;
    color: var(--text);
    font-family: "NintendoDS-BIOS";
    font-size: 1.2rem;
    letter-spacing: 0.025em;
    opacity: 0.7;
}

.header-button:hover {
    background: linear-gradient(to right, var(--bg), var(--gradientBottom), var(--gradientTop));
}

#big-theater-toggle,
#chat-toggle,
#nav-toggle {
    display: flex;
    padding: 6px 8px;
    margin: -4px 0 7px;
    border: 2px solid var(--border);
}

#chat-compress {
    margin-top: -2px;
}

#video {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 14.25/9;
}

#chat {
    width: 100%;
    height: 550px;
}

.chat-container {
    flex: 0 1 9%;
}

.header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header-left {
    display: flex;
    gap: 6px;
}

button:disabled,
button:disabled:hover {
    background: gray;
    border-color: darkgray !important;
}

.header h1 {
    transform: translateX(-18%);
}

.dsButton-Container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dsButton-Container a {
    text-decoration: none;
}

div.align.pixel,
.dsButton-Container {
    margin-top: 10px;
}

/* Big theater mode */
.hide,
.big-theater-mode .bottom,
.big-theater-mode header,
.big-theater-mode footer {
    display: none !important;
}

.big-theater-mode {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.big-theater-mode .container {
    max-width: 100%;
    margin: 0 64.5px;
    border: none;
    outline: none;
    position: relative;
    top: 35px;
}

.big-theater-mode .header {
    align-items: baseline;
    margin-top: 3px;
}

.big-theater-mode h1 {
    margin: 0;
}

.big-theater-mode .chat-container h1 {
    margin: 4px 0 6px 0;
}

.big-theater-mode .video-container {
    height: fit-content;
}

.big-theater-mode #video {
    aspect-ratio: 15.33/9;
}

.big-theater-mode #chat {
    height: 827px;
    width: 340px;
}

.big-theater-mode .chat-container {
    width: 100%;
    min-width: fit-content;
}

/* Responsive styles */
@media only screen and (max-width: 784px) {
    .stampCollection {
        flex-direction: row;
        gap: 0px;
        zoom: 90%;
    }

    .dsButton-Container .gameRow {
        zoom: 85.5%;
        font-size: 16pt; /*12*/
    }

    .big-theater-mode {
        padding: 0;
        margin: 0;
        height: 100vh;
        background: var(--bg);
    }

    .big-theater-mode .container {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
        padding: 3px;
        border: none;
        outline: none;
        position: relative;
        top: 0;
    }

    .big-theater-mode section {
        padding: 3px;
    }

    .big-theater-mode .video-container {
        flex: 2;
        width: 100%;
        height: auto;
    }

    .big-theater-mode #video {
        aspect-ratio: 13.7/9;
    }

    .big-theater-mode .chat-container {
        flex: 1 1 9%;
        min-width: unset;
        flex: 1;
    }

    .big-theater-mode #chat {
        width: 100%;
    }
}

@media only screen and (max-width: 848px) {
    .chat-container {
        flex: 1 1 9%;
    }
}

@media only screen and (784px <= width <= 1278px) { /*784*/
    .big-theater-mode #chat {
        width: 300px;
    }
}

/** Begin Nintendo DS UI Button styles
    from: ironminer888.neocities.org
    source code: https://ironminer888.neocities.org/downloads/
**/
.gameRow * {
    box-sizing: revert;
}

.gameRow {
    padding: 0;
    border: 1px solid white;
    outline: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 190px; /*186*/
    height: 47px; /*43*/
    font-family: "NintendoDS-BIOS", monospace;
    font-size: 15pt; /*12*/
    line-height: 9pt;
}

.dsButton:hover {
    outline: 1px solid #494949;
    border: 1px solid #a2a2a2;
    background-color: #525252;
}

.dsButton:active {
    outline: 2px solid #494949;
    border: 2px solid #a2a2a2;
}

.dsButton:active div.imgContainer {
    background: linear-gradient(to bottom, #f3f3f3, #525252);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /*32*/
    height: 40px;
    padding: 4px 6px 5px 5px;
    background: linear-gradient(to bottom, #f8f8f8, #c0c0c0);
}

.imgContainer img.dsicon {
    max-width: 75%;
    image-rendering: pixelated;
}

div.titleContainer {
    border: 1px solid #797979;
    border-top-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    background-image: url("../images/ds/dsback.png");
    background-repeat: repeat;
    width: 140px; /*140*/
    height: 43px; /*39*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282828;
}

.dstitle {
    line-height: 12pt;
    margin: 16px 0;
}
/** End Nintendo DS UI Button styles **/